
body {
  font-family: sans-serif;

  background-image: url("https://i.pinimg.com/originals/1b/ca/5c/1bca5c303495ae4742d9798c8863c988.jpg");
  font-weight: bold;
  perspective: 1000px;
}

/*Animated text container*/
.container{
  text-align: start;
  position: absolute;
  top: 50%;
  right:20%;
  left:30%;
  transform: translate(-50%, -50%);
}
.container span{
  color: white;
  text-transform: lowercase;
  display: block;
  }

/*Animated text*/
.text1{
  color:rgb(221, 210, 212);
  font-size: 50px;
  font-weight:700;
  letter-spacing: normal;
  animation: text 4s 1;
}

.text-box {
  margin-left: 50vw;
   margin-top: 50vh;
}

/*Animated button*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: pink;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
  animation-direction: alternate-reverse;
}
/*Animated button*/
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }

}
/*Animated text*/
@keyframes text{
  0%{
    color:black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
}
85%{
  letter-spacing:8px;
  margin-bottom: -40px;
}

}
